---
import Hero from './Hero.astro';
import CodeDiff from './CodeDiff.astro';
import Concept from './Concept.astro';
import Pillars from './Pillars.astro';
import Compare from './Compare.astro';
import Cta from './Cta.astro';
---

<div class="landing-root">
  <Hero />
  <CodeDiff />
  <Concept />
  <Pillars />
  <Compare />
  <Cta />
</div>
