name: render-md-mermaid

on:
  push:
    paths:
      - '**/*.md'

jobs:
  render-md-mermaid:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Render images for every Mermaid diagram in all Markdown files (*.md) in the repo
        uses: nielsvaneck/render-md-mermaid@v3

      - name: Commit rendered png and svg files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: "*.svg *.png"
          commit_message: "chore: automatically rendered mermaid diagrams"
